@import "styles/variables";

@keyframes confirm-button {
    0% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(150%);
    }
}

.confirm-button {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-gray;
    background-color: $dark;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-wrap: nowrap;

    & h1 {
        font-weight: 200;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &:hover {
        animation-name: confirm-button;
        animation-duration: 0.5s;

        & .backtext {
            font-size: 55px;
            filter: brightness(145%);
            display: block;
            animation-name: letter-confirm;
            animation-duration: 0.5s;
            letter-spacing: 40px;
        }

        filter: brightness(150%);
    }

    & .backtext {
        letter-spacing: -20px;
        color: $dark;
        display: none;
        position: absolute;
        z-index: -1;
    }
}