@import "styles/variables";

.page-title {
	font-family: 'Inter';
	display: flex;
	flex-direction: row;
	gap: 126px;
	text-align: center;
	font-style: normal;
	position: fixed;
	left: 40px;
	z-index: -99;
	margin-top: 121px;

	& h1 {
		font-size: 35px;
		max-width: 31px;
		font-weight: 100;
		margin: 0;
	}

	& div {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&-first {
		color: $dark;
	}

	&-second {
		color: rgba(51, 51, 51, 0.50);
	}

	&-third {
		color: rgba(51, 51, 51, 0.15);
	}
}