@import "styles/variables";

.money-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 25px;
  width: max-content;

  h1 {
    color: $white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Inter', sans-serif;
  }

  & .eye-icon {
    width: 24px;
    height: 24px;
    transition: transform 111ms ease-in-out;
    fill: $white;
    cursor: pointer;

    &:hover {
      transform: scale(110%);
    }
  }
}